button {
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }
  